<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reporting.Properties.Settings.BootstrapLayoutConnectionString"
            connectionString="Data Source=Probook;Initial Catalog=BootstrapLayout;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>