@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2><span class="text-success"> Welcome To </span> <span class="text-primary"> Zamara</span> </h2>
    <p>
        We are building towards the promise of a better today and a prosperous tomorrow with our trusted and simplified financial 
        and insurance solutions that cater to your unique needs, whether individual or business.
    </p>
</div>
